.check{
    margin-top: -130px;
    margin-bottom: 150px;
    @include media(1300){
        margin-top: 0;
    }
    &__title{
        margin-bottom: 35px;
        @include media(576){
            margin-bottom: 25px;
        }
    }
    &__content{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 20px; 
        max-width: 630px;
    }
    &__item{
        max-width: 300px;
        width: calc(50% - 15px);
        img{
            width: 100%;
        }
    }
}