@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothampro.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothampro_medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothampro_bold.ttf');
    font-weight: 700;
}