.footer{
    &__body{
        height: 130px;
        display: flex;
        align-items: center;
        position: relative;
        @include media(768){
            flex-direction: column;
            row-gap: 50px;
            height: max-content;
            padding-bottom: 50px;
        }
        @include media(576){
            font-size: 16px;
            height: max-content;
        }
    }
    &__btn{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        @include media(768){
            position: static;
            transform: translate(0, 0);
        }
    }
    &__p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: max-content;
        font-weight: bold;
        font-size: 24px;
        line-height: 125%;
        color: #FFFFFF;
        @include media(768){
            position: static;
            transform: translate(0, 0);
        }
        @include media(576){
            font-size: 18px;
            line-height: 125%;
        }
    }
}