.header{
    padding: 30px 0;
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu{
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transition: 200ms ease-out;
        @include media(1200){
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            z-index: 50;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transform: translateX(100%);
            &.open{
                transform: translateX(0);
            }
        }
    }
    &__list{
        display: flex;
        align-items: center;
        column-gap: 65px;
        margin-right: 90px;
        @include media(1400){
            margin-right: 60px;
        }
        @include media(1200){
            flex-direction: column;
            align-items: center;
            row-gap: 25px;
            margin-right: 0;
            margin-bottom: 85px;   
        }
    }
    &__link{
        font-size: 16px;
        line-height: 125%;
        color: #FFFFFF;
        position: relative;
        &:hover{
            &::before{
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
        &::before{
            content: '';
            position: absolute;
            bottom: -4px;
            opacity: 0;
            visibility: hidden;
            transform: translateY(-5px);
            left: 0;
            width: 100%;
            height: 2px;
            background: #FFFFFF;
            transition: 200ms cubic-bezier(0.68,-0.55,0.265,1.55);
        }
    }
    &__right{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media(1200){
            flex-direction: column;
            align-items: center;
            row-gap: 0px;
        }
    }
    &__btn{
        margin-right: 35px;
        font-size: 16px;
        line-height: 125%;
        color: #FFFFFF;
        width: 190px;
        height: 40px;
        box-shadow: 0px 0px 10px 0px #FFFFFF;
        border: 2px solid #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media(1200){
            margin-right: 0;
            margin-bottom: 50px;
        }
    }
    &__social{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 18px;
    }
    &__button {
        z-index: 51;
        width: 30px;
        height: 30px;
        position: relative;
        border: none;
        outline: none;
        background: none;
        display: none;
        @include media(1200) {
            display: block;
        }
        &.open {
        .header__button-line,
        &::before {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(135deg);
        }
        &::after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-135deg);
        }
        }
        &::before,
        &::after,
        &-line {
            transition: 0.5s;
            position: absolute;
            content: "";
            left: 0;
            width: 100%;
            height: 2px;
            background: white;
        }
        &::before {
            top: 20%;
        }
        &::after {
            bottom: 20%;
        }
        &-line {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}