* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gotham', sans-serif;
    &:focus,
    &:active {
        outline: none;
    }
}
body{
    min-height: 100vh;
    background-color: #041025;
    background-image: url('../images/background.png');
    object-fit: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    color: #FFFFFF;  
}
ul{
    list-style-type: none;
}
button {
    font-family: inherit;
    cursor: pointer;
}
input {
    font-family: inherit;
}
a {
    text-decoration: none;
}
main{
    transition: 200ms ease-out;
    &.open{
        opacity: 0;
        visibility: hidden;
    }
}
.title{
    font-weight: bold;
    font-size: 38px;
    line-height: 125%;
    color: #FFFFFF;    
    margin-bottom: 15px;
    @include media(576){
        font-size: 28px;
        line-height: 125%;
    }
}