* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin: 120px;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gotham', sans-serif;
    &:focus,
    &:active {
        outline: none;
    }
}
body{
    min-height: 100vh;
    background-color: #041025;
    background-image: url('../images/background.png');
    object-fit: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;  
    @include media(1400){
        background-size: auto 100%;
    }
    @include media(992){
        background-image: url('../images/background-mb.png');
        background-size: auto 100%;
    }
}
ul{
    list-style-type: none;
}
button {
    font-family: inherit;
    cursor: pointer;
}
input {
    font-family: inherit;
}
a {
    text-decoration: none;
}
main{
    transition: 200ms ease-out;
    &.open{
        opacity: 0;
        visibility: hidden;
    }
}
.title{
    font-weight: bold;
    font-size: 38px;
    line-height: 125%;
    color: #FFFFFF;    
    margin-bottom: 15px;
    @include media(576){
        font-size: 28px;
        line-height: 125%;
    }
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000070;
    z-index: 55;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-out;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__body{
        background: rgba(4, 16, 37, 0.4);
        backdrop-filter: blur(15px);
        border: 1px solid;
        border-image-slice: 1;
        max-width: 850px;
        width: 100%;
        border-image-source: linear-gradient(90deg, #5196FF 0.03%, #5846FF 50.57%, #2A00B9 100.03%);
        padding: 150px 15px 100px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-height: 90%;
        overflow-y: auto;
        @include media(576){
            padding: 100px 15px 50px 15px;
        }
    }
    &__title{
        margin-bottom: 35px;
        text-align: center;
    }
    &__logo{
        margin-bottom: 50px;
    }
    &__close{
        position: absolute;
        top: 25px; 
        right: 25px;
        @include media(576){
            top: 15px;
            right: 15px;
            svg{
                width: 50px;
            }
        }
    }
    &__btn{
        @include media(576){
            font-size: 14px;
            line-height: 125%;
        }
        &:not(:last-child){
            margin-bottom: 25px;
        }
    }
}