mixin audit()
    .audit 
        .audit__body.container 
            .audit__img 
                img(src="images/audit.png", alt="" draggable="false")
            .audit__content 
                h2.title.audit__title NEXT GEN NFTS<br>MULTI-BLOCKCHAIN USE. ENDLESS POSSIBILITIES
                p.audit__p BitShiba is here to stay. No idea is too big, no task is too complex with the support of our community. DAO proposals and voting will lead BitShiba in a positive direction fully decided on by $SHIBA holders.
                h3.title.audit__subtitle AUDIT
                p.audit__desc We believe in our security.
                .audit__bot 
                    .audit__bot-item
                        img(src="images/audit-1.png", alt="")
                    .audit__bot-item
                        img(src="images/audit-2.png", alt="")