mixin card()
    .card
        .card__body.container 
            h2.title.card__title TOKENOMICS
            p.card__p Unlike Bitcoin, BitShiba is a fixed supply token with no new minting. All tokens that will ever exist have already been created. We believe in a truly fair and decentralized world so $SHIBA launched 100% fair with no presale and no team tokens. 50% of all BitShiba tokens were added directly to liquidity on Pancakeswap and the remaining 50% were intentionally destroyed forever by sending them to the 0x000... burn address. DEX Liquidity is locked until 2099. The BitShiba community controls 100% of all tokens.
            .card__content 
                .card__item 
                    p.card__item-title Original Supply
                    p.card__item-p 1,000,000,000,000,000 $SHIBA. Fully community owned. Top holder is the. <br><a href="#!">Burn Address</a> 
                .card__item 
                    p.card__item-title Locked Liquidity
                    p.card__item-p 50% Supply added to Liquidity Pool. <br>Locked forever(2099). <br><a href="#!">Unicrypt lock page</a>
                .card__item 
                    p.card__item-title Tokens Burned
                    p.card__item-p 50% of total Supply. 500 Trillion tokens burnt. <br><a href="#!">Burn Transaction</a>

