mixin check()
    .check 
        .check__body.container 
            h2.title.check__title CHECK US ON
            .check__content 
                .check__item 
                    img(src="images/check-1.png", alt="")
                .check__item 
                    img(src="images/check-2.png", alt="")
                .check__item 
                    img(src="images/check-3.png", alt="")
                .check__item 
                    img(src="images/check-4.png", alt="")