mixin faq()
    .faq 
        .faq__body.container 
            h2.title.faq__title FAQ
            p.faq__p Answering your questions.
            .faq__content 
                .faq__item 
                    a(href="#!").faq__item-btn How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_333_800)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26 7H22V22L7 22V26H22V41H26V26H41V22L26 22V7Z" fill="#5196FF"/>
                            </g>
                            <defs>
                                <filter id="filter0_d_333_800" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset/>
                                    <feGaussianBlur stdDeviation="3.5"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.317647 0 0 0 0 0.588235 0 0 0 0 1 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_333_800"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_333_800" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                    .faq__item-content
                        p.faq__item-p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
                .faq__item 
                    a(href="#!").faq__item-btn How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_333_800)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26 7H22V22L7 22V26H22V41H26V26H41V22L26 22V7Z" fill="#5196FF"/>
                            </g>
                            <defs>
                                <filter id="filter0_d_333_800" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset/>
                                    <feGaussianBlur stdDeviation="3.5"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.317647 0 0 0 0 0.588235 0 0 0 0 1 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_333_800"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_333_800" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                    .faq__item-content
                        p.faq__item-p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.
                .faq__item 
                    a(href="#!").faq__item-btn How is BitShiba different than other cryptos like Shiba Inu or Dogecoin?
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_333_800)">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M26 7H22V22L7 22V26H22V41H26V26H41V22L26 22V7Z" fill="#5196FF"/>
                            </g>
                            <defs>
                                <filter id="filter0_d_333_800" x="0" y="0" width="48" height="48" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset/>
                                    <feGaussianBlur stdDeviation="3.5"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.317647 0 0 0 0 0.588235 0 0 0 0 1 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_333_800"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_333_800" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                    .faq__item-content
                        p.faq__item-p $SHIBA is a crypto token native to the Binance Smart Chain (BSC) network. The amount of people using Binance Smart Chain has grown by several million this year alone. Quickly becoming a favorite network for both developers and users the BSC network is much faster and much cheaper (up to 50x cheaper) than the older Ethereum Network which is used by SHIB. Since BitShiba is native to Binance Smart Chain $SHIBA can be used in thousands of decentralized applications much more quickly and much less expensively than many other tokens not on this network. These applications are things like swaps, farming, blockchain games, NFT applications, community voting, and much more. Binance Smart Chain is constantly growing, new applications are being developed here every day.