mixin footer()
    .popup 
        .popup__body 
            a(href="#!").popup__close 
                <svg width="71" height="71" viewBox="0 0 71 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d_351_384)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6603 7.83716L7.83708 13.6604L29.6742 35.4976L7.83716 57.3346L13.6604 63.1579L35.4975 41.3208L57.3346 63.1579L63.1578 57.3346L41.3207 35.4976L63.1579 13.6604L57.3346 7.83716L35.4975 29.6743L13.6603 7.83716Z" fill="#FF0000"/>
                    </g>
                    <defs>
                    <filter id="filter0_d_351_384" x="0.836914" y="0.837154" width="69.3208" height="69.3207" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="3.5"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_351_384"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_351_384" result="shape"/>
                    </filter>
                    </defs>
                </svg>
            .popup__title.title JOIN OUR COMMUNITY
            img(src="images/logo-big.png", alt="").popup__logo
            a(href="#!").intro__btn.popup__btn Join BitShiba Telegram
            a(href="#!").intro__btn.popup__btn Join BitShiba Discord
            a(href="#!").intro__btn.popup__btn Follow BitShiba on Twitter

    footer.footer 
        .footer__body.container 
            p.footer__p © 2022 FLASH TOKEN
            a(href="#top").footer__btn
                img(src="images/up.png", alt="") 