mixin map()
    .map#roadmap 
        .map__body.container    
            h2.title.map__title ROADMAP
            p.map__p We believe in our security.
            .map__content 
                .map__item
                    p.map__item-title Phase 1
                    .map__item-row 
                        ul.map__item-list 
                            li.map__item-li Website Launch
                            li.map__item-li Smart Contract Deployment
                            li.map__item-li 10K Community Members
                            li.map__item-li 100% Fair Token Launch
                        ul.map__item-list 
                            li.map__item-li DEX Listing
                            li.map__item-li Liquidity Lock with Unicrypt
                            li.map__item-li Burn 50% of Total Supply
                .map__item
                    p.map__item-title Phase 2
                    .map__item-row 
                        ul.map__item-list 
                            li.map__item-li Whitepaper Release
                            li.map__item-li Coinmarketcap + Coingecko Listing
                            li.map__item-li Growth, Promotions, Awareness
                        ul.map__item-list 
                            li.map__item-li Influencer Marketing
                            li.map__item-li 50,000 Community Members
                .map__item
                    p.map__item-title Phase 3
                    .map__item-row 
                        ul.map__item-list 
                            li.map__item-li Certik Audit
                            li.map__item-li Decentralized DAO Voting System
                            li.map__item-li High Profile Partnerships
                        ul.map__item-list 
                            li.map__item-li Increased HODL Incentives
                            li.map__item-li Top 100 crypto by Marketcap
                .map__item
                    p.map__item-title Phase 4
                    .map__item-row 
                        ul.map__item-list 
                            li.map__item-li Interconnected Blockchain Swaps
                            li.map__item-li Launchpad
                            li.map__item-li Nextgen NFTs
                        ul.map__item-list 
                            li.map__item-li Crypto Outreach Program
                            li.map__item-li Top 50 crypto by Marketcap