doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="styles/index.css")
    body 
        include components/header.pug 
        +header
        main.main
            include components/intro.pug 
            +intro
            include components/check.pug 
            +check
            include components/card.pug 
            +card
            include components/audit.pug 
            +audit
            include components/map.pug 
            +map
            include components/faq.pug 
            +faq
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js") 
        script(src="scripts/index.js") 